<h4>Post details:</h4>

<p>
  <%= @row['content'] %>
  <br />
  <br />
  Added at <%= @row['created_date'] %>
  <br />
</p>

<h4>Comments:</h4>
<br />
<% @comments.each do |comment| %>
  <p>
    <%= comment['content'] %>
    <br />
    <br />
    <span style="font-size: 75%; color: #999>Added at <%= comment['created_date'] %></span>
  </p>
  <hr />
<% end %>

<p>
<form action="/details/<%= @row['id'] %>" method="POST">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type comment text here"></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>